body {
  font-family: "Lexend Deca";
  background: #111111;
  color: #eeeeee;
  display: grid;
  place-items: center;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

#word {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

#pos {
  font-style: italic;
  font-size: 1.5rem;
  opacity: 0.7;
  font-weight: 100;
  margin-bottom: 1rem;
  padding-inline: 1%;

}
#meaning {
  opacity: 1.0;
  font-weight: 300;
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
