body {
  font-family: "Lexend Deca";
  background: #11111100;/* ISKO transparent karna hai*/
  color: #eeeeee;
  display: grid;
  place-items: center;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

#word {
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 1.25rem;
  animation:
    fade 3s;
}

#pos {
  font-style: italic;
  font-size: 1rem;
  opacity: 0.7;
  font-weight: 100;
  margin-bottom: 0.8rem;
  padding-inline: 1%;
  animation:
    fade 5s;

}
#meaning {
  opacity: 1.0;
  font-weight: 150;
  font-size: 1rem;
  animation:
    fade 9s;
}

@keyframes fade{
  from{opacity: 0;}
  to{opacity: 100%;}
}