body {
  font-family: "Lexend Deca";
  background: #11111100;
  color: #eeeeee;
  display: grid;
  place-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

#author {
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: right;
}

#quote {
  font-style:normal;
  text-align: center;
  opacity: 1.0;
  font-weight: 100;
  font-size: 30%;
  margin-bottom: 1rem;
}
