body {
  font-family: "Lexend Deca";
  background: #11111100;/* ISKO transparent karna hai*/
  color: #eeeeee;
  display:flex;
  place-items: center;
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}

#author {
  font-size: 1rem;
  font-weight: 200;
  font-style: italic;
  animation:
    fade 10s;
}

#quote {
  text-align: center;
  font-weight: 100;
  font-size: 0.75rem;
  animation:
    fade 8s;
}

@keyframes fade{
  from{opacity: 0;}
  to{opacity: 100%;}
}
